.error-dialog .dialog-inner{
    padding: 1.5em 0;
    padding-bottom: 0.5em;
}
.error-dialog .dialog-title{
    text-align: center;
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: 600;
}
.error-dialog .dialog-text{
    padding: 0 1em;
    text-align: center;
    margin-top: 0px !important;
}


.image-dialog .dialog-inner{
    padding: 1.5em 0;
    padding-bottom: 0.5em;
}
.image-dialog .dialog-title{
    text-align: center;
    margin-bottom: 1em;
    font-size: 1.1em;
    font-weight: 500;
}
.image-dialog .dialog-inner img{
    display: block;
    width: 10em; height: 10em;
    margin: auto;
    border-radius: 50%;
    object-fit: cover;
}